version: '3.1'

services:
  mysql-system:
    image: mysql
    ports:
      - 3309:3309
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=db_system
      - MYSQL_USER=aegerm
      - MYSQL_PASSWORD=sysdb
    volumes:
      - microservices_aegerm:/var/lib/mysql

  application-service:
    image: application-service:springboot-iot-web-container
    ports:
      - 8081:8081
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql-system:3309/db_system?autoReconnect=true&useSSL=false
    build:
      context: ./
      dockerfile: docker/Dockerfile
    depends_on:
      - mysql-system

volumes:
  microservices_aegerm: